<?xml version="1.0" encoding="UTF-8"?>
<!-- Fill in these two settings to use this config.xml otherwise, specifiy the cantroller names when running this script. -->
<FarmMigration>
	<OldFarm>
		<Controller hostname="" />
	</OldFarm>
	<NewFarm>
		<Controller hostname="" />
	</NewFarm>
</FarmMigration>